<form action="/users/register" method="post">
    <p>
        <label>User Name</label> <input value "" name = "userName" /> <br/>
        <label>Password</label> <input value "" name="password" /> <br/>
        <label>Name</label>  <input value "" name="name"/>
        <button type ="submit">Sign Up</button>
    </p>
</form>